* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    color: #000;
    transition: 0.3s;
    scroll-behavior: smooth;
    scroll-padding: 133px;
}

// mixins

@mixin display($dispos, $juscon, $align, $flexDir){
    display: $dispos;
    justify-content: $juscon;
    align-items: $align;
    flex-direction: $flexDir;
}

@mixin svgSize(){
    height: 64px;
    width: 64px;
    object-fit: cover;
}

@mixin fontOptions($family, $size, $weight, $color){
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin border-radius-shadow($radius, $x, $y, $depth, $color){
    border-radius: $radius;
    box-shadow: $x $y $depth $color;
}

// general

.ahead{
    font-family: "Ubuntu Mono";
    font-size: var(--big-font);
    font-weight: 600;
    color: var(--color-white);
    padding-bottom: 4rem;
}

.arrow__item {
    color: var(--color-yellow);
    font-size: 2rem;
}

.wrapper {
    margin: 0 auto;
    max-width: 1152px;
}

.block__separate{
    background-color: var(--color-dark-blue);
    height: 45px;
}

.wrapper .block {
    @include display(flex, space-between, center, row);
}



.block{
    padding: 4rem 0;
}

.intro, .my__competitions{
    background-color: var(--color-medium-blue);
}

/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--color-dark-blue);
    padding: 28px 64px;
    box-shadow: var(--box-shadow);
    width: 100%;
    font-family: "JetBrains Mono", monospace;

    .wrapper {

        > .block{
            padding: 0;
        }

        >.block .menu,
        .block .menu ul {
            // @include display(flex, space-between, center, row);
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 19px;

            >li a {
                position: relative;
                font-size: 1rem;
                font-weight: 400;
                color: #fff;

                &:hover {
                    color: var(--color-green-hover);

                    &::before {
                        content: '/*';
                        position: absolute;
                        left: -19px;
                        top: 0;
                    }

                    &::after {
                        content: '*/';
                        position: absolute;
                        right: -19px;
                        top: 0;
                    }
                }
            }
        }
    }
}

.menu__burger {
    display: none;

    >.menu__burger__blocks {
        height: 42px;
        width: 42px;
        display: none;

        >.menu__burger__item {
            background-color: var(--color-white);
            height: 16px;
            width: 100%;
        }

    }
}

.menu__burger__close {
    position: relative;
    height: 42px;
    width: 42px;

    >.menu__burger__item {
        position: absolute;
        top: 50%;
        height: 8px;
        width: 100%;
        background-color: var(--color-white);
    }

    >.one {
        rotate: 45deg;
    }

    >.two {
        rotate: -45deg;
    }
}

// intro

.intro {
    margin-top: 125px;


    >.wrapper {

        >.block {
            gap: 60px;
            padding: 0;

            >.intro__subblock {
                margin: 70px 0;

                .intro__about__me {
                    min-height: 708px;
                    width: 593px;
                    background-color: var(--color-gray);
                    box-shadow: 12px 16px 16px rgba(0, 0, 0, 0.25);
                    border-radius: 12px;
                    padding: 5px 7px;
                    color: var(--color-white);

                    >.intro__ahead {
                        display: flex;
                        gap: 5px;
                        padding: 7px 11px 13px 11px;

                        >.intro__file__name {
                            font-family: "Ubuntu Mono";
                            font-size: 18px;
                            color: var(--color-white);
                        }
                    }

                    >.intro__text__block {
                        min-height: 660px;
                        border-radius: 12px;
                        background-color: var(--color-dark-blue);
                        padding: 39px 99px 39px 58px;
                        line-height: 48px;

                        >.html__item, .html__item div, .html__hello, .text_typed .Typewriter .Typewriter__wrapper, .text_typed .Typewriter .Typewriter__cursor{
                            font-family: "Ubuntu Mono";
                            font-size: 2rem;
                            color: var(--color-white);
                        }

                        >.html__item,
                        .html__item div {
                            color: var(--color-light-blue);
                            font-size: 2rem;
                        }

                        >.text_typed {
                            font-size: 2rem;
                        }

                    }
                }
            }


            >.intro__pc {
                position: relative;

                &::before {
                    content: url("../assets/intro-svg/button.svg");
                    position: absolute;
                    bottom: 17.2%;
                    left: 48%;
                    width: 140px;
                    height: 112px;
                    z-index: 1;
                }
            }
        }
    }
}

// my competitions

.my__competitions {

    > .wrapper{

        > .block{
            @include display(flex, center, center, column);

            > h2{
                font-family: "Ubuntu Mono";
                font-size: var(--big-font);
                color: var(--color-white);
            }

            > .my__competitions__block{
                width: 100%;
                @include display(flex, space-between, center, row);
                background-color: var(--color-dark-blue);
                border-radius: 12px;
                box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
                padding: 64px 85px;
                align-items: center;
                height: 674px;

                > .block__separate{
                    background-color: var(--color-white);
                    width: 4px;
                    height: 100%;
                }

                > .skills{
                    align-self: baseline;

                    > .skills__ahead{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 11px;
                        padding-bottom: 33px;

                        > h3{
                            font-family: "Ubuntu Mono";
                            font-size: var(--big-font);
                            font-weight: 400;
                            color: var(--color-white);
                            white-space: pre;
                        }
                    }

                    > .skills__list > li, span{
                        font-family: "JetBrains Mono", monospace;
                        font-size: 24px;
                        color: var(--color-white);
                        font-weight: 700;
                    }
                }

                // hard

                > .skills.hard{
                    @include display(flex, center, center, column);

                    >.skills__list.hard {

                        display: flex;
                        flex-direction: column;
                        gap: 18px;

                        > li{
                        display: flex;
                        align-items: center;
                        gap: 19px;

                            > img{
                                @include svgSize();
                               filter: drop-shadow(4px 4px 4px #00000077);
                            }

                            > span{
                                font-size: 24px;
                            }
                        }
                    }
                }

                // soft

                > .skills.soft{
                   > .skills__list{
                        display: flex;
                        flex-direction: column;
                        gap: 15px; 
                        
                        > li{
                            font-size: 28px;
                            font-weight: bold;
                            list-style: disc;
                            white-space: pre-line;
                    }
                   }
                }
            }
        }
    }
} 

// portfolio

.portfolio{
    background-color: var(--color-medium-blue);
    > .wrapper{
        > .block{
            @include display(flex, center, center, column);
            
            > .portfolio__list{
                width: 100%;
                @include display(flex, center, center, column);
                gap: 49px;

                > .portfolio__item{
                    border-radius: 12px;
                    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
                    display: flex;
                    gap: var(--big-font);
                    padding: 25px 38px;
                    width: 100%;
                    background-color: var(--color-dark-blue);

                    > .portfolio__image__link{

                        > .portfolio__ahead{
                            border-radius: 14px 14px 0 0;
                            background-color: var(--color-gray);
                            max-width: 155px;
                            display: flex;
                            align-items: center;
                            gap: 6px;
                            padding: 8px 19px 4px 19px;

                            > p{
                                font-family: "Ubuntu Mono";
                                font-weight: bold;
                                font-size: 18px;
                                color: #fff;
                            }
                        }

                        > .portfolio__img__block{
                            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
                            background-color: var(--color-gray);
                            border-radius: 0px 14px 14px 14px;
                            padding: 11px;
                        }
                    }
                    > .portfolio__image__link img{
                        border-radius: 14px;
                    }

                    > .portfolio__des{
                        width: 100%;
                        padding-top: 1rem;

                        > .portfolio__des__ahead{

                            h3{
                                font-family: "JetBrains Mono", monospace;
                                font-size: var(--big-font);
                                font-weight: 400;
                                color: var(--color-white);
                            }

                            p{
                                font-family: "Ubuntu Mono";
                                font-size: var(--common-text-big);
                                font-weight: bold;
                                color: var(--color-white);
                            }
                        }

                        > .portfolio__des__main{
                            line-height: 24px;
                            padding: 50px 0;
                            p{
                                font-family: "Ubuntu Mono";
                                font-size: var(--common-text-big);
                                font-weight: bold;
                                color: var(--color-white);
                            }
                        }

                        > .portfolio__des__technology{

                            h4{
                                position: relative;
                                font-family: "JetBrains Mono", monospace;
                                font-size: var(--medium-font);
                                color: var(--color-white);
                                padding-bottom: 32px;

                                &::before{
                                    content: "";
                                    position: absolute;
                                    height: 3px;
                                    width: 100%;
                                    background-color: var(--color-white);
                                    top: 70%;
                                }
                            }

                            > .portfolio__des__technology__list, .portfolio__des__technology__list .technology__item{
                                display: flex;
                                align-items: center;
                                gap: 11px;
                            }

                            > .portfolio__des__technology__list .technology__item{
                                border-radius: 30px;
                                min-height: 46px;
                                background-color: var(--color-light-blue);
                                padding: 7px 11px 7px 8px;

                                > .technology__item__img{
                                    position: relative;
                                    background-color: var(--color-gray-light);
                                    border-radius: 50%;
                                    height: 36px;
                                    width: 36px;

                                    > img{
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        
                                    }
                                }

                                > p{
                                    color: var(--color-white);
                                    font-family: "JetBrains Mono", monospace;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// contacts

.contacts{
    background-color: var(--color-medium-blue);
    > .wrapper{
        > .block{
            @include display(flex, center, center, column);
        }
        >.block .contacts__subblock{
            background-color: var(--color-dark-blue);
            @include display(flex, space-between, center, row);
            @include border-radius-shadow(10px, 8px, 8px, 8px, rgba(0, 0, 0, 0.25));
            width: 100%;
            padding: 64px 80px;
            border-radius: 10px;

            .block__separate{
                align-self: baseline;
                background-color: var(--color-white);
                height: 333px;
                width: 4px;
                border-radius: 2px;
            }

            .contacts__form{
                @include display(flex, center, center, column);
                gap: 21px;
            }

            .contacts__form p{
                @include fontOptions("Ubuntu Mono", 20px, 400, var(--color-white));
                white-space: pre-line;

                span{
                    font-size: 20px;
                    color: var(--color-green-hover);
                }
            }

            .contacts__form form{
                background-color: var(--color-light-blue);
                padding: 16px 23px;
                min-height: 273px;
                width: 300px;
                @include border-radius-shadow(10px, 8px, 8px, 8px, rgba(0, 0, 0, 0.25));
                @include display(flex, center, center, column);
                gap: 13px;

                > .form__input{
                    height: 100%;
                    position: relative;
                    width: 100%;

                    > input{                    
                        min-height: 30px;
                        text-indent: 15px;
                        color: var(--color-green-hover);
                    }

                    > .remove__cross svg{
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                input, textarea, button{
                    border: none;
                    border-radius: 10px;
                    width: 100%;

                    &:not(button)::placeholder{
                        @include fontOptions("JetBrains Mono", 16px, 300, var(--color-green-hover));
                    }
                }

                input, textarea{
                    font-size: 1rem;
                    caret-color: var(--color-green-hover);
                    &:focus{
                        color: var(--color-black);
                        outline: 2px solid var(--color-green-hover);
                        outline-offset: -3px;
                        font-weight: 400;
                    }
                }

                .form__textarea{
                    position: relative;
                    max-height: 110px;
                    width: 100%;

                    > textarea{
                    padding: 9px 20px 0 15px;
                    height: 110px;
                    color: var(--color-green-hover);
                    resize: none;
                    }

                    > .remove__cross{
                        position: absolute;
                        top: 10%;
                        right: 2%;
                        transform: translate(-10%, -3%);
                    }
                }

                button{
                    height: 32px;                 
                    background-color: var(--color-dark-blue);
                    @include fontOptions("JetBrains Mono", 16px, 600, var(--color-green-hover));
                }
            }

            .contacts__links{
                h3{
                    @include fontOptions("JetBrains Mono", 28px, 400, var(--color-white));
                    margin-bottom: 26px;
                }

                .contacts__links__list{
                    @include display(flex, center, center, row);
                    gap: 24px;

                    .social__link__linkedin img{
                        height: 40px !important;
                        width: 40px !important;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    } 

                    .social__link, .social__link__linkedin{
                        position: relative;
                        padding: 7px;
                        background-color: var(--color-light-blue);
                        border-radius: 50%;
                        height: 64px;
                        width: 64px;

                        > img{
                            height: 50px;
                            width: 50px;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        }       
                    }      
                    
                }
            }
        }
    }
}

// credits

.credits{
    background-color: var(--color-dark-blue);

    > .wrapper{

        > .block{
            padding: 0;
        }

        > .block p{
            width: 100%;
            text-align: center;
        }

        > .block p, .block p a{
            font-family: "JetBrains Mono", monospace;
            font-size: 12px;
            font-weight: 400;
            color: var(--color-white);
            padding: 28px 0;
        }

        > .block p a:hover{
            color: var(--color-green-hover);
        }
    }
}